<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ include file="..\..\CommonStarterTemplate\CommonStarterTemplate.tt"#>
using System.Web;
using System.Web.Mvc;

namespace <#= WebAPINamespace #>
{
    public class FilterConfig
    {
        public static void RegisterGlobalFilters(GlobalFilterCollection filters) {
            filters.Add(new HandleErrorAttribute());
        }
    }
}