<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="VisualStudioVersion" value="VisualStudio.DTE.11.0" />
    <add key="ShortSleep" value="200" />
    <add key="MediumSleep" value="500" />
    <add key="LongSleep" value="2000" />

    <!-- DataTypes2
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.DataTypes2Entities" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="commonDataTypes" />
    <add key="EntityNameParameter" value="commonDataType" />
    <add key="EntityNamePlural" value="CommonDataTypes" />
    <add key="EntityName" value="CommonDataType" />
    <add key="PrismStarterDatabaseName" value="DataTypes2" />
    <add key="PrismStarterEntities" value="DataTypes2Entities" />
    <add key="PrismStarter" value="DataTypes" />
    <add key="TargetSolutionName" value="DataTypes.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\DataTypes\" />
    <add key="ProjectNames" value="DataTypes.DalInterface.csproj;DataTypes.DalEF4.csproj;DataTypes.DalMemory.csproj;DataTypes.WebAPI.csproj;DataTypes.UILogic.csproj;DataTypes.UILayer.csproj;CommonStarterTemplate.csproj" />
    <add key="ProjectPaths" value="DataTypes.DalInterface\;DataTypes.DalEF4\;DataTypes.DalMemory\;DataTypes.WebAPI\;DataTypes.UILogic\;DataTypes.UILayer\;CommonStarterTemplate\" />
    <add key="ZipFileNames" value="PrismStarterDalInterface.zip;PrismStarterDalEF4.zip;PrismStarterDalMemory.zip;PrismStarterWebAPI.zip;PrismStarterUILogic.zip;PrismStarterUILayer.zip;CommonStarterTemplate.zip" />
-->

    <!-- BigBrother-->
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.BigBrotherEntities" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="PrismStarterDatabaseName" value="BigBrother" />
    <add key="PrismStarterEntities" value="BigBrotherEntities" />
    <add key="PrismStarter" value="BigBrother" />
    <add key="TargetSolutionName" value="BigBrother.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\BigBrother\" />
    <add key="ProjectNames" value="BigBrother.DalInterface.csproj;BigBrother.DalEF4.csproj;BigBrother.DalMemory.csproj;BigBrother.WebAPI.csproj;BigBrother.UILogic.csproj;BigBrother.UILayer.csproj;CommonStarterTemplate.csproj" />
    <add key="ProjectPaths" value="BigBrother.DalInterface\;BigBrother.DalEF4\;BigBrother.DalMemory\;BigBrother.WebAPI\;BigBrother.UILogic\;BigBrother.UILayer\;CommonStarterTemplate\" />
    <add key="ZipFileNames" value="PrismStarterDalInterface.zip;PrismStarterDalEF4.zip;PrismStarterDalMemory.zip;PrismStarterWebAPI.zip;PrismStarterUILogic.zip;PrismStarterUILayer.zip;CommonStarterTemplate.zip" />

    <!-- FormValidation 
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.FormValidationEntities" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="PrismStarterDatabaseName" value="FormValidation" />
    <add key="PrismStarterEntities" value="FormValidationEntities" />
    <add key="PrismStarter" value="FormValidation" />
    <add key="TargetSolutionName" value="FormValidation.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\FormValidation\" />
    <add key="ProjectNames" value="FormValidation.DalInterface.csproj;FormValidation.DalEF4.csproj;FormValidation.DalMemory.csproj;FormValidation.WebAPI.csproj;FormValidation.UILogic.csproj;FormValidation.UILayer.csproj;CommonStarterTemplate.csproj" />
    <add key="ProjectPaths" value="FormValidation.DalInterface\;FormValidation.DalEF4\;FormValidation.DalMemory\;FormValidation.WebAPI\;FormValidation.UILogic\;FormValidation.UILayer\;CommonStarterTemplate\" />
    <add key="ZipFileNames" value="PrismStarterDalInterface.zip;PrismStarterDalEF4.zip;PrismStarterDalMemory.zip;PrismStarterWebAPI.zip;PrismStarterUILogic.zip;PrismStarterUILayer.zip;CommonStarterTemplate.zip" />
-->    

    <!-- MetroLog
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.MetroLogEntities" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="messages" />
    <add key="EntityNameParameter" value="message" />
    <add key="EntityNamePlural" value="Messages" />
    <add key="EntityName" value="Message" />
    <add key="PrismStarterDatabaseName" value="MetroLog" />
    <add key="PrismStarterEntities" value="MetroLogEntities" />
    <add key="PrismStarter" value="MetroLog" />
    <add key="TargetSolutionName" value="MetroLog.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\MetroLog\" />
    <add key="ProjectNames" value="MetroLog.DalInterface.csproj;MetroLog.DalEF4.csproj;MetroLog.DalMemory.csproj;MetroLog.WebAPI.csproj;MetroLog.UILogic.csproj;MetroLog.UILayer.csproj;CommonStarterTemplate.csproj" />
    <add key="ProjectPaths" value="MetroLog.DalInterface\;MetroLog.DalEF4\;MetroLog.DalMemory\;MetroLog.WebAPI\;MetroLog.UILogic\;MetroLog.UILayer\;CommonStarterTemplate\" />
    <add key="ZipFileNames" value="PrismStarterDalInterface.zip;PrismStarterDalEF4.zip;PrismStarterDalMemory.zip;PrismStarterWebAPI.zip;PrismStarterUILogic.zip;PrismStarterUILayer.zip;CommonStarterTemplate.zip" />

-->    

  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>