<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="VisualStudioVersion" value="VisualStudio.DTE.12.0" />
    <add key="ShortSleep" value="200" />
    <add key="MediumSleep" value="500" />
    <add key="LongSleep" value="2000" />
    
    <!-- DataTypes2
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.DataTypes2Entities" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="commonDataTypes" />
    <add key="EntityNameParameter" value="commonDataType" />
    <add key="EntityNamePlural" value="CommonDataTypes" />
    <add key="EntityName" value="CommonDataType" />
    <add key="RemoveEntity" value="False"/>
    <add key="PrismTemplatesDatabaseName" value="DataTypes2" />
    <add key="PrismTemplatesEntities" value="DataTypes2Entities" />
    <add key="PrismTemplates" value="DataTypes" />
    <add key="TargetSolutionName" value="DataTypes.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\DataTypes\DataTypes\" />
    <add key="ProjectNames" value="DataTypes.DalInterface.csproj;DataTypes.DalEF4.csproj;DataTypes.DalMemory.csproj;DataTypes.WebAPI.csproj;DataTypes.UILogic.csproj;DataTypes.UILayer.csproj;CommonTemplate.csproj" />
    <add key="ProjectPaths" value="DataTypes.DalInterface\;DataTypes.DalEF4\;DataTypes.DalMemory\;DataTypes.WebAPI\;DataTypes.UILogic\;DataTypes.UILayer\;CommonTemplate\" />
    <add key="ZipFileNames" value="PrismTemplatesDalInterface.zip;PrismTemplatesDalEF4.zip;PrismTemplatesDalMemory.zip;PrismTemplatesWebAPI.zip;PrismTemplatesUILogic.zip;PrismTemplatesUILayer.zip;CommonTemplate.zip" />
 -->
    
    <!-- BigBrother-->
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.BigBrotherEntities" />
    <add key="DeleteTableSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\BigBrotherTable\" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="phoneCalls" />
    <add key="EntityNameParameter" value="phoneCall" />
    <add key="EntityNamePlural" value="PhoneCalls" />
    <add key="EntityName" value="PhoneCall" />
    <add key="PrismTableDatabaseName" value="BigBrother" />
    <add key="PrismTableEntities" value="BigBrotherEntities" />
    <add key="PrismTable" value="BigBrother" />
    <add key="RemoveEntity" value="False"/>
    <add key="TableProjectNames" value="BigBrother.DalInterface.csproj;BigBrother.DalEF4.csproj;BigBrother.DalMemory.csproj;BigBrother.WebAPI.csproj;BigBrother.UILogic.csproj;BigBrother.UILayer.csproj;CommonTableTemplate.csproj" />
    <add key="TableProjectPaths" value="BigBrother.DalInterface\;BigBrother.DalEF4\;BigBrother.DalMemory\;BigBrother.WebAPI\;BigBrother.UILogic\;BigBrother.UILayer\;CommonTableTemplate\" />
    <add key="TableSolutionName" value="BigBrother.sln" />
    <add key="TableSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\BigBrotherTable\BigBrother\" />
    <add key="TargetProjectNames" value="BigBrother.DalInterface.csproj;BigBrother.DalEF4.csproj;BigBrother.DalMemory.csproj;BigBrother.WebAPI.csproj;BigBrother.UILogic.csproj;BigBrother.UILayer.csproj" />
    <add key="TargetProjectPaths" value="BigBrother.DalInterface\;BigBrother.DalEF4\;BigBrother.DalMemory\;BigBrother.WebAPI\;BigBrother.UILogic\;BigBrother.UILayer\" />
    <add key="TargetSolutionName" value="BigBrother.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\BigBrother\" />
    <add key="ZipFileNames" value="PrismTableDalInterface.zip;PrismTableDalEF4.zip;PrismTableDalMemory.zip;PrismTableWebAPI.zip;PrismTableUILogic.zip;PrismTableUILayer.zip;CommonTableTemplate.zip" />
    
    <!-- FormValidation 
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.FormValidationEntities" />
    <add key="DeleteTableSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\FormValidationTable\" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="states" />
    <add key="EntityNameParameter" value="state" />
    <add key="EntityNamePlural" value="States" />
    <add key="EntityName" value="State" />
    <add key="PrismTableDatabaseName" value="FormValidation" />
    <add key="PrismTableEntities" value="FormValidationEntities" />
    <add key="PrismTable" value="FormValidation" />
    <add key="RemoveEntity" value="True"/>
    <add key="TableProjectNames" value="FormValidation.DalInterface.csproj;FormValidation.DalEF4.csproj;FormValidation.DalMemory.csproj;FormValidation.WebAPI.csproj;FormValidation.UILogic.csproj;FormValidation.UILayer.csproj;CommonTableTemplate.csproj" />
    <add key="TableProjectPaths" value="FormValidation.DalInterface\;FormValidation.DalEF4\;FormValidation.DalMemory\;FormValidation.WebAPI\;FormValidation.UILogic\;FormValidation.UILayer\;CommonTableTemplate\" />
    <add key="TableSolutionName" value="FormValidation.sln" />
    <add key="TableSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\FormValidationTable\FormValidation\" />
    <add key="TargetProjectNames" value="FormValidation.DalInterface.csproj;FormValidation.DalEF4.csproj;FormValidation.DalMemory.csproj;FormValidation.WebAPI.csproj;FormValidation.UILogic.csproj;FormValidation.UILayer.csproj" />
    <add key="TargetProjectPaths" value="FormValidation.DalInterface\;FormValidation.DalEF4\;FormValidation.DalMemory\;FormValidation.WebAPI\;FormValidation.UILogic\;FormValidation.UILayer\" />
    <add key="TargetSolutionName" value="FormValidation.sln" />
    <add key="TargetSolutionPath" value="C:\Dev\Metro.2013.2\CodeGen\FormValidation\" />
    <add key="ZipFileNames" value="PrismTableDalInterface.zip;PrismTableDalEF4.zip;PrismTableDalMemory.zip;PrismTableWebAPI.zip;PrismTableUILogic.zip;PrismTableUILayer.zip;CommonTableTemplate.zip" />
 -->
    
    <!-- MetroLog
    <add key="DELL15z" value="DELL15z" />
    <add key="DbContextAssembly" value="PrismDTE, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="DbContextClass" value="PrismDTE.MetroLogEntities" />
    <add key="EntityRulesTableName" value="CodeGenRules" />
    <add key="EntityStringsTableName" value="CodeGenStrings" />
    <add key="EntityNameParameterPlural" value="messages" />
    <add key="EntityNameParameter" value="message" />
    <add key="EntityNamePlural" value="Messages" />
    <add key="EntityName" value="Message" />
    <add key="RemoveEntity" value="False"/>
    <add key="PrismTemplatesDatabaseName" value="MetroLog" />
    <add key="PrismTemplatesEntities" value="MetroLogEntities" />
    <add key="PrismTemplates" value="MetroLog" />
    <add key="TemplatesSolutionName" value="MetroLogTemplates.sln" />
    <add key="TargetSolutionName" value="MetroLog.sln" />
 -->
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>